# IntelliJ IDEA
.idea
/LeetCode.iml
/target

# LeetCode Plugin
src/main/java/com/temp/leetcode/editor/cn/all.json
src/main/java/com/temp/leetcode/editor/cn/translation.json
src/main/java/com/temp/leetcode/editor/cn/*.txt
/src/main/java/com/temp/leetcode/editor/cn/doc/